@use "tailwindcss";
@source "../../../projects/brickular/src/lib/**/*.{ts,html,scss}";
@source "../../../dist/brickular/**/*.{js,mjs}";
@import '../../brickular/src/lib/styles/themes.css';

html,
body {
  margin: 0;
  padding: 0;
}
/* You can add global styles to this file, and also import other style files */
