name: Publish Library

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
          cache: npm

      - name: Setup npm
        run: npm install -g npm@10.8.2

      - name: Setup Angular CLI
        run: npm install -g @angular/cli@20.3.8

      - name: Install dependencies
        run: npm ci --include=dev

      - name: Build library
        run: npm run build:lib

      - name: Publish package
        run: npm publish --access public
        working-directory: dist/brickular
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
